---
import "bootstrap/dist/css/bootstrap.min.css";
import 'bootstrap-icons/font/bootstrap-icons.css';
---
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AWS Community Day Indonesia 2025</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
</head>
<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="https://awscommunity.id" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="assets/img/logo.png" alt="AWS User Group Indonesia">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
            <li><a href="#hero" class="active">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#speaker">Speaker</a></li>
            <li><a href="#agenda">Agenda</a></li>
            <li><a href="#sponsor">Sponsor</a></li>
            <li><a href="#team">Team</a></li>
            </li>
            <li><a href="#faq">FAQ</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        </div>
    </header>
    <slot />
    <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="https://awscommunity.id" class="logo d-flex align-items-center">
            <span class="sitename">AWS User Group Indonesia</span>
          </a>
          <p>AWS User Group Indonesia is a community of AWS users in Indonesia, comprising AWS User Group Medan, AWS User Group Jakarta, AWS User Group Malang, and AWS User Group Surabaya.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://twitter.com/AWSUserGroupID/"><i class="bi bi-twitter-x"></i></a>
            <a href="https://web.facebook.com/groups/awsindonesia"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/awsugid"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/awsugid"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#coc.html">Code of Conduct</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Speaker Guidelines</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>AWS User Group Indonesia</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+62 8525 9044 226</span></p>
          <p><strong>Email:</strong> <span>awsugid@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Organized by AWS User Group Indonesia 🇮🇩</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
</html>